* {
  box-sizing: border-box;
}


  button {
    font-family: 'Space Mono', monospace;
    /* background-image: url('../ASSETS/BUTTON.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    border:none;
    background-color: seagreen;
    color: red;
    font-size: 30px;
  }
  
  

  
body {
  /* background-image: url('../ASSETS/FOILAGEBORDER.png'); */
  background-color: seagreen;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin: 0;
}

span {
  color: red;
  
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  align-items: center;
  
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 900px;
  margin-bottom: 20vh;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.frog {
  background-image: url('../ASSETS/FROG1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.infotop {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: 'Space Mono', monospace;
  margin-top: 5vh;
}

.car1 {
  background-image: url('../ASSETS/CAR1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.car2 {
  background-image: url('../ASSETS/CAR2\ copy.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.car3 {
  background-image: url('../ASSETS/SPORTSCAR.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.bird {
  background-image: url('../ASSETS/birdb.png');
  background-size: contain;
  background-repeat: no-repeat;

}
.pike {
  background-image: url('../ASSETS/transparentpike.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.turtle1 {
  background-image: url('../ASSETS/rat.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.log1 {
  background-image: url('../ASSETS/ratb.png');
  background-size: contain;
  background-repeat: no-repeat;  
}

.log2 {
  background-image: url('../ASSETS/pike2.png');
  background-size: 125%;
  background-repeat: no-repeat;  
}

.croc {
  background-image: url('../ASSETS/CROCb.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.lilypad {
  background-image: url('../ASSETS/LilyPada.png');
  background-size: contain;
  background-repeat:round; 
}

.truck {
  background-image: url('../ASSETS/truck.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.trolley {
  background-image: url('../ASSETS/trolley.png');
  background-size: contain;
  background-repeat: no-repeat;
}


.foilage {
  background-image: url('../ASSETS/FOILAGE.png');

}

.boot {
  background-image: url('../ASSETS/BOOTb.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.river {
  background-color: rgb(0, 132, 255);
}

.road {
  background-color: grey;
}

/* div   {
  background-image: url('../ASSETS/ROAD.png');
  

} */

