* {
  box-sizing: border-box;
}

body {
  background-image: url('../ASSETS/FOILAGEBORDER.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin: 0;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.infotop {
  justify-content: space-around;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.frog {
  background-image: url('../ASSETS/FROG1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.infotop {
  display: flex;
}

.car1 {
  background-image: url('../ASSETS/CAR1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.car2 {
  background-image: url('../ASSETS/CAR2.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.car3 {
  background-image: url('../ASSETS/SPORTSCAR1.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.turtle1 {
  background-image: url('../ASSETS/TURTLE.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.log1 {
  background-image: url('../ASSETS/LOG1.png');
  background-size: contain;
  background-repeat: no-repeat;  
}

.log2 {
  background-image: url('../ASSETS/LOG1.png');
  background-size: contain;
  background-repeat: no-repeat;  
}

.foilage {
  background-image: url('../ASSETS/FOILAGE.png');

}

.road {
  background-image: url('../ASSETS/ROAD.png');
  

}